## Задание 1

Оформляйте ноутбук, используя эти советы:

* Номер задачи - заголовок 2

* Номер подзадачи - заголовок 3

* Предоставленные наборы данных оформляйте, как код

## Задание 2

На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе.

In [1]:
def total_fruits(**kwargs):
	fruits = 0
	for i in kwargs.values():
		fruits += i
	return f'Total fruits: {fruits}'

In [2]:
print(total_fruits(apples = 100, bananas = 50, apricots = 80, pears = 40))

Total fruits: 270

## Задание 3

Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты

[100, 125, -90, 345, 655, -1, 0, 200]

Используйте list comprehensions.

In [3]:
data = [100, 125, -90, 345, 655, -1, 0, 200]

In [4]:
expenses = [i for i in data if i > 0]

In [5]:
expenses

[100, 125, 345, 655, 200]

In [6]:
from functools import reduce

In [7]:
def sum(x, y):
    return x + y

In [8]:
result1 = reduce(sum, expenses)
print('Total expenses: ', result1)

Total expenses:  1425

In [9]:
import builtins

In [10]:
result2 = builtins.sum(expenses)
print('Total expenses: ', result2)

Total expenses:  1425

## Задание 4

Даны два списка.

Дата покупки

In [11]:
date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09',
         '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26',
         '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27',
         '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01',
         '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31',
         '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']


Суммы покупок по датам

In [12]:
cost = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275,
         4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### Задание 4.1

Найдите, какая выручка у компании в ноябре.

Используйте list comprehensions.

In [13]:
def november1(data1: list, data2: list) -> list:
    new_data = []
    for i in range(len(data1)-1):
        if '-11-' in data1[i]:
            new_data.append(data2[i])
    return new_data

In [14]:
november1(date, cost)

[4944, 3701, 7037, 4274, 2004, 2822, 316]

In [15]:
november2 = [cost[i] for i in range(len(date)) if date[i].split("-")[1] == "11"]

In [16]:
november2

[4944, 3701, 7037, 4274, 2004, 2822, 316]

In [17]:
sum_revenue = 0
for num in november2:
    sum_revenue += num
print('Revenue in november: ', sum_revenue)

Revenue in november:  25098

### Задание 4.2

Найдите выручку компании в зависимости от месяца.
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [18]:
def dict_1(data1: list, data2: list) -> dict:
    new_dict = {}
    for i in range(len(data1)):
        if date[i].split('-')[1] in new_dict.keys():
            new_dict[date[i].split('-')[1]] += cost[i]
        else:
            new_dict[date[i].split('-')[1]] = cost[i]
    return new_dict

In [19]:
dict_1(date, cost)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}